
body, html {
	margin:0px;
	padding:0px;
	background-color:#FFF1E0;
}

p,h1,h2 {
	
	font-family: "GlyphaLTStd35ThinOblique",'Georgia',serif;	
}

p,h2 {
	margin-top:0px;
	
}

h2 {
	margin-bottom:4px;
}

#header {
	
	
}

#article { 
	position:relative;
	width: 1088px;
	margin: 0px auto;
	padding:10px;
}

#spectrum_image {
	float:left;
	margin: 0px 10px 0px 0px;
}   

#spectrum_labels {
	margin-bottom:30px;
}

#spectrum_labels h2 {
	text-align:center;
	font-size:14px;
}

.spectral_line {
	width:200px;
	float:left;
	margin-left:22px;
}

.spectral_line:first-child {
	margin-left:0px;
}


.spacer {
	clear:both;
}